<p>admin works!</p>


<!--EXAMPLE 1-->
<!--<input type="text" [formControl]="nameControl">
<button (click)="onEnviar()">Enviar</button>-->

<!--EXAMPLE 1-->
<form [formGroup]="productForm" style="display: flex; flex-direction: column;">
  <input formControlName="description" type="text">
  <div *ngIf="productForm.get('description').invalid &&
              (productForm.get('description').touched ||
              productForm.get('description').dirty)"
       class="alert alert-danger">
    <div *ngIf="productForm.get('description').errors.required">
      Name is required
    </div>
    <div *ngIf="productForm.get('description').errors.minlength">
      Name must have 3 characteres min
    </div>
  </div>




  <input formControlName="imageUrl" type="text">
  <input formControlName="ownerId" type="text">
  <input formControlName="price" type="text">
  <input formControlName="title" type="text">
</form>
<button (click)="onEnviar2()">Enviar</button>


