<mat-card
  style="display: flex; flex-direction: column; width: 400px; height: 400px; background-color: #f39c12; padding: 50px;">
  <mat-card-header style="display: flex; justify-content: center; height: 100px;">
    <div style="position: relative;top: -120px;border-radius: 50%;">
      <img src="assets/images/logo.png" alt="Logo"
           style="height: 200px;width: 200px; border-radius: 50%; border: 2px solid #fff;">
    </div>
  </mat-card-header>

  <mat-card-content style="height: 100%;">
    <form #form="ngForm" style="display: flex; flex-direction: column;">
      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput
               type="text"
               name="email"
               [ngModel]="email"
               #emailUI="ngModel"
               required>
      </mat-form-field>
      <div *ngIf="emailUI.invalid && (emailUI.touched || emailUI.dirty)"
           class="alert alert-danger">
        <div *ngIf="emailUI.errors.required">Email is required</div>
      </div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput
               type="password"
               name="password"
               [ngModel]="password"
               #passwordUI="ngModel"
               required>
      </mat-form-field>
      <div *ngIf="passwordUI.invalid && (passwordUI.touched || passwordUI.dirty)"
           class="alert alert-danger">
        <div *ngIf="passwordUI.errors.required">Password is required</div>
      </div>
    </form>
  </mat-card-content>

  <mat-card-actions style="height: 200px;">
    <button mat-button
            [disabled]="form.invalid"
            (click)="onLogin(form)"
            style="background-color: #ed2f42; color: white; width: 100%;">
      LOGIN
    </button>
  </mat-card-actions>
</mat-card>
