<p>ROUTING</p>
<button type="button" class="btn btn-danger">Danger</button>

<button routerLink="home">HOME</button>
<button routerLink="about">ABOUT</button>
<button routerLink="admin">ADMIN</button>
<button routerLink="user">USER</button>


<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
<mat-slider min="1" max="100" step="1" value="1"></mat-slider>


<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton > Left (pre-checked)
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton > Middle
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton> Right
  </label>
</div>


<div style="border: 4px solid red;">
  <router-outlet>
  </router-outlet>
</div>
