<p>Ricardo</p>
<button (click)="sw = false;">Change SW</button>


<div *ngFor="let person of persons; let i = index">
  <p>{{person}}========{{i}}</p>
</div>


<div [ngSwitch]="aux">
  <p *ngSwitchCase="3">el valor es 3</p>
  <p *ngSwitchCase="2">el valor es 2</p>
  <p *ngSwitchDefault>No es ni 3 ni 2</p>
</div>






<button (click)="auxColor = 'yellow'">amarillo</button>
<button (click)="auxColor = 'green'">verde</button>
<button (click)="auxColor = 'red'">rojo</button>
<div [ngStyle]="{'border': '1px solid ' + auxColor, 'color': auxColor}">
  personas
</div>

<div [style.color]="auxColor">
autos
</div>