<header-pet></header-pet>

<mat-drawer-container autosize style="width: 100%; height: 600px;">

  <mat-drawer #drawer [opened]="true" style="width: 300px; height: 100%;" mode="side" [position]="'end'">
    <pet-form [values]="formValues"
              (sentForm)="onSave($event); addMode = true">
    </pet-form>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">Add</button>
    <button type="button" mat-button (click)="onReport()">Report</button>
  </div>

  <div class="row">
    <p>VACCINATED</p>
    <div *ngFor="let pet of vacinnatedPets" class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3"
         style="padding: 50px; display: flex; justify-content: center;">
      <pet *ngIf="pet.vaccinated"
           [imageUrl]="pet.urlImage"
           [name]="pet.name"
           [color]="pet.color"
           [age]="pet.age"
           (edit)="onEdit(pet); addMode = false"
           (delete)="onDelete(pet.id)">
      </pet>
    </div>
  </div>

  <div class="row">
    <p>NOT VACINNATED</p>
    <div *ngFor="let pet of notVacinnatedPets" class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3"
         style="padding: 50px; display: flex; justify-content: center;">
      <pet *ngIf="!pet.vaccinated || pet.vaccinated === 'false'"
           [imageUrl]="pet.urlImage"
           [name]="pet.name"
           [color]="pet.color"
           [age]="pet.age"
           (edit)="onEdit(pet); addMode = false"
           (delete)="onDelete(pet.id)">
      </pet>
    </div>
  </div>

</mat-drawer-container>

