<p>login works!</p>

<!--EXAMPLE 1-->
<!--<div style="display: flex; flex-direction: column;">
   <input type="text" [(ngModel)]="username">
   <input type="password" [(ngModel)]="password">
</div>-->

<!--EXAMPLE 2-->
<!--<div style="display: flex; flex-direction: column;">
  <form #form="ngForm">
    <input type="text" name="username" ngModel>
    <input type="password" name="password" ngModel>
    <button type="submit">ENVIAR</button>
  </form>
</div>
<button (click)="onLogin2(form)">LOGIN 2</button>-->

<!--EXAMPLE 3-->
<!--<div style="display: flex; flex-direction: column;">
  <form (ngSubmit)="onLogin2(form)" #form="ngForm">
    <input type="text" name="username" ngModel>
    <input type="password" name="password" ngModel>
    <button type="submit">ENVIAR</button>
  </form>
</div>-->


<input class="form-control"
       type="text"
       required
       minlength="3"
       maxlength="5"
       ngModel
       #name="ngModel">
<div *ngIf="name.invalid && (name.touched || name.dirty)"
     class="alert alert-danger">
  <div *ngIf="name.errors.required">
    Name is required
  </div>
  <div *ngIf="name.errors.minlength">
    Name must have 3 characteres min
  </div>
  <div *ngIf="name.errors.maxlength">
    Name must have 5 characteres max
  </div>
</div>






<!--<button routerLink="/pages">LOGIN</button>-->
<!--<button (click)="onLogin()">LOGIN</button>-->

<!--<button (click)="sw = !sw;">SW</button>
<p>{{sw}}</p>
<p *ngElse="sw">SE MUESTRA SI ES FALSO</p>-->
